// color function
$color1:#222831;
$color2:#ffffff26; 
$color3:#FFD369;
$color4:#ffffff; 

// mixin

@mixin text($size,$weight){
    font-size: $size;
    font-weight: $weight;
} // @include text(20px,regular)

@mixin flex ( $align , $justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
} // @include flex(center,center,center)