// color function
$color1:#3E3636;
$color2:#040404;
$color3:#F5EDED;
$color4:#000000;
$color5:#04040466;

// mixin
@mixin text($size,$weight){
    font-size: $size;
    font-weight: $weight;
} // @include text(20px,regular)

@mixin flex ( $align , $justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
} // @include flex(center,center,center)

@mixin green_text($color : $colorGreen, $weight : 500){
    color: $color;
    font-weight: $weight;
}