.about{
    padding: 3.5em 20% 4em 20%;
    z-index: 0;

    & &_profile{

        &_desc{
            color: $colorWhite;
            @include text(10px, 100);
            line-height: 18px;
            display: block;
        }

        &_history{
            margin-top: 2em;
            color: $colorWhite;
            @include text(10px, 100);
            display: block;
            
            .history_title{
                display: block;
                font-weight: 500;
                color: $colorYellow;
                margin-bottom: 1em;
            }
        }

        &_button{
            margin-top: 3.5em;
            @include text(10px, 100);

            a{
                text-decoration: none;
                padding: .8em 2.2em;
                border: 1px solid $colorLine;
                color: $colorWhite;
            }
        }
    }

    & &_image{
        width: 160px;
        display: block;
        opacity: .2;
        margin-left: 5em;
        margin-top: -7em;
    }

}