.about{
    padding: 4.5em 20% 4em 20%;
    z-index: 0;

    & &_title{
        background-color: green;
        @include text(15px, 300);
        display: block;

        &:after{
            content:'t';
            width: 40px;
            background-color: aqua;
            height: 4px;
            position: relative;
            right: 0;
        }
    }
}