.bridging{
    background-image: url('/src/img/mainbanner2.jpg');
    // width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100);
    background-size: cover;
    z-index: 1;
    height: 200px;
    text-align: center;
    @include text(32px, 200);
    color: $color4;
    padding: 85px 10px 0 10px;
}