.bridging{
    background-image: url('/src/img/mainbanner2.jpg');
    // width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100);
    background-size: cover;
    z-index: 1;
    height: 300px;
    text-align: center;
}