.hero{
    background-image: url('/src/img/blackCat_background.png');
    width: 230px;
    // top: 30;
    margin: auto;
    margin-top: 20%;
    // position: relative;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    background-size: cover;
    z-index: 1;
    height: 230px;
    display: flex;
    // background-color: red;
    // align-self: center;
    // & &_mainbanner{
        
    //     display: flex;
    //     overflow-x: hidden;
        // margin-left: 1em;

//         &_1{
//             background-image: url('/src/img/mainbanner2.jpg');
//             width: 90px;
//             height: 200px;
//             margin-top: 50%;
//             position: relative;
//             background-repeat: no-repeat;
//             background-position: center;
//             background-size: cover;
//             z-index: 1;
//             filter: grayscale(100%);
    
//             &:hover{
//                 width: 400px;
//             }
//         }
        
//         &_2{
//             background-image: url('/src/img/mainbanner1.jpg');
//             width: 200px;
//             height: 450px;
//             background-repeat: no-repeat;
//             background-position: center;
//             background-size: cover;
//             position: relative;
//             margin-left: -5em;
    
//             &:hover{
//                 width: 400px;
//             }
//         }
//     }
}

.hero_text{
    position: fixed;
    top: 0;
}