.navbar{
    @include flex(center,space-between,row);
    padding: 4em 3em;
    @include text(10px, 300);
    height: 0px;
    z-index: 2;
    position: sticky;
    background-color: $colorBlack;
    // Update Sementara
    transition: .2s ease-in-out;
    // background-color: aqua;

    @include responsive(xs){
        padding: 4.5em 5em;
    }

    @include responsive(s){
        padding: 5em 6em;
    }

    & &_freelance{
        display: flex;
        align-items: center;
        gap: .8em;
        
        &_title{
            list-style-type: none;
            color: $colorWhite;
            letter-spacing: 1px;

            @include responsive(s){
            font-size: 12px;
            }
        }

        &_img{
            width: 7px;
            height: 6px;
            animation-name: circle;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            display: flex;
        }

        @include responsive(m){
            letter-spacing: 1px;
            display: flex;
            gap: .8em;
            align-items: center;
        }
    }

    & &_menu{
        @include text(20px, 400);
        letter-spacing: 1px;
        gap: 1em;
        background-color: $colorGreen;
        top: 0;
        right: 0;
        position: absolute;
        @include flex(center, center, column);
        height: 100vh;
        width: 100%;
        transform: translateY(-100%);
        transition: all .5s;
        backdrop-filter: blur(8px);
        z-index: 2;

        li{
            list-style-type: none;
            a{
            text-decoration: none;
            color: $colorWhite;
            }
        }

        @include responsive(m){
            position: static;
            flex-direction: row;
            justify-content: center;
            transform: translateX(0);
            transition: none;
            width: auto;
            height: auto;
            gap: 3em;
            @include text(16px, 500);
            letter-spacing: 1px;
        }
    }

    & &_toggle{
        display: flex;
        flex-direction: column;
        z-index: 2;
        transition: transform 330ms ease-out;

        input{
            position: absolute;
            width: 25px;
            height: 25px;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
        }

        span{
            background-color: $colorWhite;
            height: 1.3px;
            width: 18px;
            border-radius: 20px;
            margin: 3.5px 0;
            transition: all .5s;

            &:nth-child(2){
                width: 7px;
                transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                transform-origin: right;
            }
        
            &:nth-child(3){
                width: 20px;
                transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
            }

            &:nth-child(4){
                width: 7px;
                align-self: flex-end;
                transform-origin: left;
                transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
            }
        }

        @include responsive(m){
            display: none;
        }
    }

    // if condition toggle checked
    & &_toggle:has(input:checked) span:nth-child(2){
        transform: rotate(-90deg) translateX(2px) translateY(3px);
    }

    & &_toggle:has(input:checked) span:nth-child(4){
        transform: rotate(-90deg) translateX(-2px) translateY(-3px);
    }

    & &_toggle:has(input:checked){
        transform: rotate(-45deg); 
    }
}

// condition navbar
.navbar .navbar_menu.seret{
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0.79,0.14,0.15,0.86);
}

@keyframes circle {
    0%   {opacity: 1;}
    25%  {opacity: .5;}
    50%  {opacity: 0;}
    75%  {opacity: .5;}
    100% {opacity: 1;}
}