.project{
  display: grid;
  width: 100%;
  grid-gap: 2em;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));


  & &_item{
    // margin: 2em;
    // background-color: red;
    
    background-image: url("/src/img/tinified/205.jpg");
    list-style-type: none;
    // border-radius: 40px;
    // width: 80%;
    height: 200px;
    // display: flex;
    @include flex(center, center,column);

  }

  & &_card{
    background-color: green;
    text-decoration: none;
    color: black;
    // display: flex;
  }

  & &_button{
    img{
      width: 20%;
    }
  }

}

.grid {
    display:grid;
    width:90%;
    max-width:1000px;
    padding:0;
    list-style-type:none;
    
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:2rem;
  }
  
  @media screen and (min-width: 768px){
    .grid__item:first-child{
      grid-column: span 2;
    }
  }
  
  .card {
    background-color: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition:transform .1s ease-in;
    
    display:flex;
    flex-direction:column;
    min-height:100%;
    
    &:hover,
    &:focus {
      box-shadow: 0 4px 10px 0 rgba(0,0,0,.16);
      transform:scale(1.025);
    }
    
    &__image {
      img {
        width:100%;
        height:250px;
        object-fit:cover;
      }
    }
    
    &__content {
      padding:1rem;
      display:flex;
      flex-direction:column;
      flex:1;
    }
    
    &__title {
      margin:0;
    }
    
    &__body {
      flex:1;
    }
    
    &__footer {
      text-transform:uppercase;
      font-size:.75rem;
      color:#666;
      font-weight:600;
    }
  }