.project{
  display: grid;
  width: 90%;
  grid-gap: 2em;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  margin: 0 auto;

  & &_item{
    // margin: 0 1.5em;
    background-image: url("/src/img/tinified/website-mockup-psd.jpg");
    list-style-type: none;
    height: 200px;
    @include flex(center,flex-end,column);
    border-radius: 20px;
  }

  & &_title{
    margin-left: 20px;
    span{
      &:first-child{
        @include text(15px,500);
        display: block;
      }
      &:nth-child(2){
        margin-top: .2em;
        @include text(12px, 300);
        display: block;
      }
    }
  }

  & &_card{
    background-color: #777777;
    text-decoration: none;
    color: white;
    width: 100%;
    @include flex(center,space-between,row);
    border-radius: 0 0 20px 20px;
    height: 60px
  }

  & &_button{
    @include flex(flex-end,flex-end,column);
    img{
      width:70%;
      margin-right: 20px;
    }
  }
}

.grid {
    display:grid;
    width:90%;
    max-width:1000px;
    padding:0;
    list-style-type:none;
    
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:2rem;
  }
  
  @media screen and (min-width: 768px){
    .grid__item:first-child{
      grid-column: span 2;
    }
  }
  
  .card {
    background-color: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition:transform .1s ease-in;
    
    display:flex;
    flex-direction:column;
    min-height:100%;
    
    &:hover,
    &:focus {
      box-shadow: 0 4px 10px 0 rgba(0,0,0,.16);
      transform:scale(1.025);
    }
    
    &__image {
      img {
        width:100%;
        height:250px;
        object-fit:cover;
      }

    }
    
    &__content {
      padding:1rem;
      display:flex;
      flex-direction:column;
      flex:1;
    }
    
    &__title {
      margin:0;
    }
    
    &__body {
      flex:1;
    }
    
    &__footer {
      text-transform:uppercase;
      font-size:.75rem;
      color:#666;
      font-weight:600;
    }
  }