@import 'var/function';
@import 'var/med_query';

// Component
@import'style_comp/nav';
@import'style_comp/bottom_bar';
@import'style_comp/hero';
@import'style_comp/about';

body {
    background-color: $color1;
    font-family: 'montserrat', sans-serif;
    color: $color2;
    // height: 100%;
    // min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.vr_1{
    height: 200em;
    border-left: 2px solid $color2;
    position: absolute;
    left: 12%;
    z-index: -2;
}

.vr_2{
    height: 20em;
    border-right: 2px solid $color2;
    position: absolute;
    right: 12%;
    z-index: -2;
    
    @include responsive(m){
        display: none;
    }
}

// .vr_3{
//     height: 5em;
//     width: 1.5px;
//     background-color: $color2;
//     position: absolute;
//     left: 50%;
// }

// .hr_1{
//     width: 74%;
//     height: 2px;
//     background-color: $color2;
//     margin: 0 auto;
// }

// .hr_2{
//     width: 74%;
//     height: 2px;
//     background-color: $color2;
//     margin: 2em auto  0 auto;
// }
