@import 'var/function';
@import 'var/med_query';

// Component
@import'style_comp/nav';
@import'style_comp/bottom_bar';
@import'style_comp/hero';
@import'style_comp/about';
@import'style_comp/project';
@import'style_comp/question';

body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: $colorBgBody;
    font-family: 'montserrat', sans-serif;
    color: $colorWhite;
}

* {
    margin: 0;
    padding: 0;
}

// VR & HR Line

.vr_1{
    height: 100%;
    border-left: 2px solid $colorLine;
    position: fixed;
    left: 7%;
    z-index: -2;

    @include responsive(m){
        left: 10%;
    }
}

.vr_2{
    height: 100%;
    border-right: 2px solid $colorLine;
    position: fixed;
    right: 7%;
    z-index: -2;
    
    @include responsive(m){
        display: none;
    }
}

.hr_1{
    width: 80%;
    height: 2px;
    background-color: $colorLine;
    
    @include responsive(m){
        margin-left: 10%;
        width: 75%;
    }
}

.hr_2{
    width: 25%;
    height: 2px;
    background-color: $colorLine;
    margin-top: 2.5em;
    position: absolute;
    right: 0;

    @include responsive(xs){
        width: 30%;
    }

    @include responsive(s){
        width: 31%;
    }

    @include responsive(m){
        display: none;
    }
}

.hr_3{
    width: 35%;
    height: 2px;
    background-color: $colorLine;
    position: relative;
    right: 0;

    @include responsive(xs){
        width: 40%;
    }

    @include responsive(m){
        margin-left: 10%;
        width: 75%;
    }
}

// Caption Point

.scroll_caption{
    margin-left: 77%;

    .yellow_text{
        @include yellow_text();
    }

    & &_title{
        z-index: -1;
        margin-top: -5.5em;
        position: relative;
        display: block;
        @include text(10px, 100);
        writing-mode:tb-rl;
        text-align: center;
        line-height: 15px;

        @include responsive(s){
            font-size: 11px;
            line-height: 18px;
        }

        &:before{
            content: '';
            width: 10px;
            height: 2px;
        }
    }

    @include responsive(m){
        margin-left: 92%
    }
}

.about_caption{
    @include text(15px, 100);
    margin: 2em 0 0 20%;
    position: relative;
    
    @include responsive(xs){
        font-size: 17px;
        margin-top: 1.7em
    }

    @include responsive(s){
        font-size: 20px;
        margin-top: 1.3em
    }

    @include responsive(m){
        padding-left: 7%;
        margin-left: 10%;
    }

    .yellow_text{
        @include yellow_text();
    }

    &:before{
        margin-top: 2.5em;
        content:'';
        width: 5em;
        background-color: $colorLine;
        height: 2px;
        position: absolute;
        left: 0;
        z-index: -1;

        @include responsive(xs){
            margin-top: 2.3em;
        }

        @include responsive(m){
            padding-left: 7%;
            margin-left: 8%
        }

    }
}

.project_caption{
    @include text(15px, 100);
    position: absolute;
    right: 20%;
    margin-top: -.8em;
    @include responsive(xs){
        font-size: 17px;
    }

    @include responsive(s){
        font-size: 20px;
    }

    @include responsive(m){
    margin-left: 92%;
    position: relative;
    display: block;
    @include text(11px, 100);
    writing-mode:tb-rl;
    text-align: center;
    line-height: 18px;
    z-index: -1;
    margin-top: -3em;
    right: 0;
    }

    .yellow_text{
        @include yellow_text();

        @include responsive(m){
            display: block;
            }
    }

    &:before{
        margin-top: 2.5em;
        content:'';
        width: 3em;
        background-color: $colorLine;
        height: 2px;
        position: absolute;
        right: 0;
        z-index: -1;

        @include responsive(xs){
            margin-top: 2.3em;
        }

        @include responsive(m){
            display: none;
        }
    }
}


.question_caption{
    @include text(15px, 100);
    margin-top: 3.5em;
    text-align: center;

    @include responsive(xs){
        font-size: 17px;
    }

    @include responsive(s){
        font-size: 20px;
    }

    @include responsive(m){
        margin-left: 92%;
        position: relative;
        display: block;
        @include text(11px, 100);
        writing-mode:tb-rl;
        text-align: center;
        line-height: 18px;
        z-index: -1;
        margin-top: -3em;
        right: 0;
    }

    .yellow_text{
        @include yellow_text();
        @include responsive(m){
            display: block;
        }
    }

    &:before{
        content:'';
        width: 30%;
        background-color: $colorLine;
        height: 2px;
        position: absolute;
        z-index: -1;
        left: 0;
        margin-top: .6em;
        @include responsive(m){
            display: none;
        }
    }

    &:after{
        content:'';
        width: 30%;
        background-color: $colorLine;
        height: 2px;
        position: absolute;
        z-index: -1;
        right: 0;
        margin-top: .6em;
        @include responsive(m){
            display: none;
        }
    }
}